<h1>Add new evidence</h1>
<form [formGroup]="service.form" class="normal-form" (submit)="onSubmit()">
<mat-grid-list cols="2" rowHeight="400px">
    <mat-grid-tile>
        <div class="controles-containter">
            <input type="hidden" formControlName="$key">
            <mat-form-field>
                <input formControlName="identifier" matInput placeholder="Identifier">
            </mat-form-field>
            <mat-form-field>
                <input formControlName="name" matInput placeholder="EvidenceName">
                <mat-error *ngIf="service.form.controls['name'].errors?.required">This field is required!</mat-error>
                <mat-error *ngIf="service.form.controls['name'].errors?.minlength">Minimum lenght: 5</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input formControlName="title" matInput placeholder="Title">
            </mat-form-field>
            <mat-form-field>
                <mat-select formControlName="status" placeholder="Status">
                    <ng-container *ngFor="let statusc of statuses">
                        <mat-option value="{{statusc.id}}">{{statusc.value}}</mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="controles-containter">
            <mat-form-field>
                <input formControlName="date" matInput [matDatepicker]="picker" placeholder="Submit Date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker> 
                <mat-error>Invalid date format</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input type="text" formControlName="effectivePeriod" matInput [matDatepicker]="picker2" placeholder="Effective Period End Date">
                <mat-error>Invalid date format</mat-error>
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker> 
            </mat-form-field>
            <mat-form-field>
                <input formControlName="exposureBackground" matInput placeholder="ExposureBackground*">
                <mat-error *ngIf="service.form.controls['exposureBackground'].errors?.required">This field is required!</mat-error>
                <mat-error *ngIf="service.form.controls['exposureBackground'].errors?.minlength">Minimum lenght: 3</mat-error>
            </mat-form-field>
            <div class="button-row">
                <button mat-raised-button color="primary" type="submit" [disabled]="service.form.invalid">Submit</button>
                <button mat-raised-button color="warn" type="reset" (click)="onClear()">Clear</button>
            </div>
        </div>
    </mat-grid-tile>

</mat-grid-list>
</form>