/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.fill-remaining-space{
    flex: 1 1 auto;
}

form.normal-form{
    margin: 10px;
}

.controles-containter{
    width: 100%;
    padding: 5%;
}

.controles-containter > * {
    width: 100%;
}

.add-bottom-padding{
    padding-bottom: 10px;
}

.button-row button{
    margin: 5px
}

.hide{
    display: none;
}
mat-footer-row mat-footer-cell{
    justify-content: center;
    font-style:italic;
}